tasks {
    run {
        - "zig build run -- -b sdl_gpu {path}"
        opt path=image.png
    }
    supports "zig build run -- --supports"
    format {
        - "zig fmt ."
        - "dprint fmt"
    }
    release "zig build --release=fast"
    nix.zon.update "zon2nix build.zig.zon > build.zig.zon.nix"
    nix.install {
        - "nix profile add ."
        - "nix profile upgrade jve"
    }
    nix.uninstall "nix profile remove jve"
    clean "rm -rf .zig-cache/ zig-out/"
    count "cloc src"
}
